@model Pizzeria.Models.IngredienteAggiunto

@{
    ViewData["Title"] = "Details";
}

<div class="divform">
<h1>Details</h1>

<div>
    <h4>IngredienteAggiunto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodotto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodotto.ImgProdotto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingrediente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingrediente.NomeIngrediente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdIngredienteAggiunto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<