@model Pizzeria.Models.Ingrediente

@{
    ViewData["Title"] = "Details";
}
<div class="divform">
<h1>Details</h1>

<div>
    <h4>Ingrediente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeIngrediente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeIngrediente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrezzoIngrediente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrezzoIngrediente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdIngrediente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>