@{
    ViewData["Title"] = "Home Page";
}
<div class="divform">
<div  class="text-center divform">
    <img src="~/img/LOGO.png" class="img-fluid" alt="Responsive image">
    <h1>Welcome</h1>
    <div class="my-3">
        <a class="btn btn-primary" asp-area="" asp-controller="Login" asp-action="SignUp">SignUp</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Login" asp-action="index">Login</a>
        </div>
     

        <h2>  Benvenuti alla Pizzeria Bella!</h2>
        <p class="lead">
            Siamo entusiasti di darvi il benvenuto nel nostro ristorante, dove la passione per la pizza autentica italiana si riflette in ogni piatto che serviamo. Situata nel cuore della città, la Pizzeria Bella è il luogo ideale dove godersi una varietà di pizze fatte con gli ingredienti più freschi e di alta qualità.
            <br/>
            <br />
            La nostra pizza, cotta alla perfezione in forno a legna, offre quel sapore inconfondibile che solo la vera tradizione italiana può offrire. Dal classico Margherita al gusto unico delle nostre pizze speciali, c'è sempre qualcosa che saprà deliziare il vostro palato.
        </p>
</div>
</div>