@{
    ViewData["Title"] = "Home Page";
}
<div class="divform">
<div  class="text-center divform">
    <img src="~/img/LOGO.png" class="img-fluid" alt="Responsive image">
    <h1 class="display-4">Welcome</h1>
  <p class="lead">This is a simple web application for a pizzeria.</p>
</div>
</div>